h2, h4, h5 {
    text-align: center;
    font-weight: bold;
}

img {
    width: 30px;
    height: 40px;
}

.gray {
    width: 1000px;
    padding: 100px;
    margin: 0;
    background-color: rgb(19, 129, 255);
  }

  .button {
    background-color: rgb(16, 36, 214); 
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button1 {
    background-color: rgb(85, 247, 182); 
    border: none;
    color: white;
    padding: 35px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button2 {
    background-color:  rgb(245, 192, 94); 
    border: none;
    color: white;
    padding: 35px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button3 {
    background-color:  rgb(255, 190, 188); 
    border: none;
    color: white;
    padding: 35px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button4 {
    background-color:  rgb(197, 146, 223); 
    border: none;
    color: white;
    padding: 35px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
    