body {
  background-color: aqua;
}

h2, h4, h5 {
    text-align: center;
    font-weight: bold;
}

img {
    width: 30px;
    height: 40px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.gray {
    width: 1000px;
    padding: 100px;
    margin: 0;
    background-color: rgb(19, 129, 255);
  }

  .button {
    background-color: rgb(16, 36, 214); 
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button1 {
    background-color: rgb(47, 189, 132); 
    border: none;
    color: white;
    padding: 35px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button2 {
    background-color:  rgb(231, 161, 29); 
    border: none;
    color: white;
    padding: 35px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button3 {
    background-color:  rgb(214, 40, 34); 
    border: none;
    color: white;
    padding: 35px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button4 {
    background-color:  rgb(115, 20, 163); 
    border: none;
    color: white;
    padding: 35px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
   
  header {
    background-image: linear-gradient(rgb(10, 126, 146), rgb(30, 217, 241), rgb(0, 126, 146));
    margin: 10px;
    padding: 10px;
    text-align: center;
  
}  
  
aside {
  float: left;
  width: 25%;
  height: 70%;
  margin: 20px;
  padding: 50px;
  text-align: center;
  background-color: rgb(24, 155, 243);

}

.section #profile {
  float: right;
  padding:  10px; 
  margin: 5px;  
}